textarea {
    resize: none;
}
.navbar .navbar-nav {
    float: none;
    vertical-align: top;
    font-family: Montserrat;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar {
    width: 100%;
    z-index: 150;
    position: fixed;
    background-color: #d8d8d8;
    border: none;
    border-radius: 0;
}
.nav-button:hover {
    color: #ff303d !important;
}
.home {
    width: 100vw;
    height: 100vh;
    font-family: Montserrat;
    background: -webkit-linear-gradient(left top, #ff9966, #ff5e62);
    background: -o-linear-gradient(bottom right, #ff9966, #ff5e62);
    background: -moz-linear-gradient(bottom right, #ff9966, #ff5e62);
    background: linear-gradient(to bottom right, #ff9966, #ff5e62);
    max-width: 100%;
    max-height: 100%;
}
.heading {
    margin-top: 25vh;
    max-width: 100%;
    font-size: 5vw;
    font-weight: 900;
    color: #ffffff;
}
.sub-heading {
    margin-top: -10px;
    font-size: 5vw;
    font-weight: 900;
    color: #ffffff;
}
.btn-primary {
    font-family: Montserrat;
    font-size: 1.5em;
    font-weight: 700;
    background-color: transparent;
    border-radius: 25px;
    border-color: #ff303d;
    border-width: thick;
    margin-top: 10px;
}
.btn-primary:hover {
    border-color: #3a3738;
    background-color: transparent;
}
.btn:focus, .btn:active {
    background-color: transparent !important;
    outline: none !important;
    border-color: #3a3738;
}
.learn-more {
    font-size: 1.5em;
    position: relative;
    top: 180px;
}
.glyphicon-chevron-down {
    font-size: 1.5em;
    color: #3a3738;
    position: relative;
    top: 185px;
}
.about {
    font-family: Montserrat;
    margin-bottom: 20px;
}
.expertise {
    font-size: 4vw;
    font-size: 3.25em;
    font-weight: 600;
    margin-top: 75px;
}
.expertise-desc {
    font-size: 3vw;
    font-size: 1.5em;
    font-weight: 300;
    color: #969696;
    margin-bottom: 50px;
}
.about-icon {
    color: #ff303d;
}
.design, .ideas, .development{
    font-size: 3.5vw;
    font-size: 2.5em;
    font-weight: 600;
    color: #3a3738;
}
.desc {
    color: #969696;
    margin-bottom: 75px;
}
.about-me {
    font-size: 4vw;
    font-size: 3.25em;
    font-weight: 600;
    margin-top: 75px;
}
.about-me-desc {
    font-size: 3vw;
    font-size: 1.5em;
    font-weight: 300;
    color: #969696;
    margin-bottom: 50px;
}
.about-me-text {
    font-size: 3vw;
    font-size: 1.5em;
    font-weight: 200;
    color: #969696;
    margin-bottom: 75px;
}
.my-expertise {
    background-color: #d8d8d8;
}
.my-work {
    font-size: 4vw;
    font-size: 3.25em;
    font-weight: 600;
    margin-top: 75px;
}
.my-work-desc {
    font-size: 3vw;
    font-size: 1.5em;
    font-weight: 300;
    color: #969696;
}
.project-one-desc {
    font-family: Montserrat;
    text-align: left;
}
.project-two-desc {
    font-family: Montserrat;
    text-align: right;
}
.project-two {
    margin-bottom: 75px;
}
.project-item-one {
    width: 400px;
    float: right;
}
.project-item-two {
    width: 400px;
    float: left;
}
.contact {
    background-color: #FD966B;
}
.contact-me {
    font-size: 4vw;
    font-size: 3.25em;
    font-weight: 600;
    margin-top: 75px;
    color: #ffffff;
}
.contact-me-desc {
    font-size: 3vw;
    font-size: 1.5em;
    font-weight: 300;
    color: #ffffff;
}
.input-one {
    width: 30vw;
    margin-bottom: 10px;
    font-family: Montserrat;
    display: inline-block;
}
.input-two {
    width: 90.75vw;
    font-family: Montserrat;
    display: inline-block;
    margin-bottom: 25px;
}
.social-media {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 60px;
}
#linkedin:hover {
    color: #ff303d !important;
}
#github:hover {
    color: #ff303d !important;
}
#twitter:hover {
    color: #ff303d !important;
}
.footer-text {
    font-family: Montserrat;
    margin-top: 7px;
}
